* {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #FAFAFA;
}

 *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
	outline: none;
}

div {
	background-color: #FFFFFF; 
}
span {
	background-color: #FFFFFF;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav{
	height: 53px;
	width: 100%;
	opacity: 100%;
	background-image: linear-gradient(90deg, #2BC4DD 0%, #3489D1 100%);
}

#main {
	
	margin: 0 6% 0 3%;
	background-color: #FAFAFA;
}

#heading {
	margin-top: 24px;
}
div > h3 {
	font-size: 32px;
	color: #17BCD9;
	line-height: 32px;
}

.view {
	margin-top: 40px;
	background-color: #FFFFFF;
	width: 100%;
	margin-left: 16px;
	height: 100%;
}

span > h4 {
	
	background: #00B3D6;
	color: #FFFFFF;
	margin-left: -16px;
	margin-top: -8px;
	text-align: center;
	z-index: 999;
	padding: 0.5px 25px;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 40px;
	display: inline-block;
}

.special {
	width: 0;
	height: 0;
	margin-left: -16px;
	border-top: 16px solid #098DAD;
	border-left: 16px solid transparent;
	background-color: #FAFAFA;
}

#remaining {
	font-size: 16px;
	color: #00A9D2;
	margin-bottom: 20px;
	background-color: #FFFFFF;
}

#stock {
	width: 240px;
	height: 72px;
	background: #FFFFFF;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
	border-radius: 4px;
}
#leftStock {
	display: inline-block;
	height: 100%;
	float: left;
	vertical-align: middle;
	margin-left: 10px; 
}

#stockName {
	font-size: 16px;
	color: #666666;
	text-align: left;
	display: block;
	position: relative;
	top: 20px;
}

#myButton {
	border: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#myButton:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#finanace {
	font-size: 12px;
	color: #89A6EC;
	display: block;
	position: relative;
	top: 18px;
	
}

#stockValue {
	font-size: 22px;
	color: #666666;
	float: right;
	line-height: 72px;
	margin-right: 10px;

}

div > div > div > div.ng-scope {
	display: inline-block;
}

.container {
	margin: 30px 0 30px 30px;
	background-color: #FFFFFF;
	height: 100%;
}

table {
	width: 456px;
	border-spacing: 0px;
	border: 1px solid #DDDDDD;
	border-top: 0px;
	float: left;
}

tr > th {
	background: #8FB9E7;
	height: 39px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 16px;
}

tr > td {
	text-align: center;
}


tr:nth-child(2n) {
    background-color: #FFFFFF !important;
}

td:nth-child(1) {
	font-size: 14px;
	color: #287DCE;
	line-height: 16px;
	margin: 1.3%;
}

#incrementDiv {
	width: 80px;
	height: 24px;
	text-align: center;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	line-height: 20px;
}
td:nth-child(3){
	width: 80px;
}

tr {
	height: 48px;
}

.smallButton {
	background-color: #FFFFFF;
	border: 1px solid #287DCE;
	font-size: 12px;
	color: #287DCE;
	width: 14px;
	height: 13px;
	line-height: 12px;
}

.smallButton:active {
	border: 0px;
}

#counterValue {
	width: 35px;
	height: 22px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	display: inline-block;
}

#calcu {
	float: right;
	margin-right: 30px;
	background-color: #FFFFFF;
	display: inline-block;
	text-align: left;
}

#stockLength {
	display: inline-block;
	width: 50%;
	float: left;
}

#netWorth {
	display: inline-block;
	width: 50%;
	margin-bottom: 20px;
}

#build {
	display: block;
	width: 215px;
	height: 56px;
	background-image: linear-gradient(90deg, #2BC4DD 0%, #3489D1 100%);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.30);
	font-size: 18px;
	color: #FFFFFF;
	border: 0px;
}

#build:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.righthead {
	font-size: 16px;
	color: #287DCE;
}
.rightvalue {
	font-size: 28px;
	color: #222222;
	line-height: 26px;
}