<!DOCTYPE html>
<html>
<head>
	<title>Stock Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app = "myApp">
	<nav>
	</nav>

	<div id="main">
	<div id ="heading"><h3>Portfolio Builder</h3></div>
	
	<div class = "view" ng-controller="Controller1 as vm1" ng-init="vm1.submit()">
		<span><h4>PICK STOCKS</h4></span>
		<div class="special"></div>
		<div class="container">
		
		<div id="remaining">Showing {{vm1.currentPage+1}} - {{vm1.currentPage+8}} of 24 matching stocks</div>
		<div id="filter">
			<span></span>
			<p>APPLY FILTERS</p>
			<div>3</div>
		</div>
		<div class="row">
			<div ng-repeat="(key, value) in vm1.stocks.price" ng-if="$index >= vm1.currentPage && $index < vm1.currentPage+8" class="col-3">
				<div id="myButton" style="max-width: 240px">
					<div id="stock">
							<div id="leftStock">
								<span id="stockName">{{key}}</span>
								<span id="finanace">Financial Services</span>
							</div>
							<span id="stockValue">
								<div>{{'₹' + value}}</div>
								<button id="addButton"  ng-click="vm1.add(key, value, counter=1, eps = vm1.stocks.eps[key], history = vm1.stocks.historical[key]); vm1.delete(key)"></button>
							</span>
					</div>
				</div>
			</div>
			<div ng-repeat="item in vm1.newlist()"  class="col-3" ng-if="$index + 12 < vm1.currentPage">
				<div id="myButton" style="max-width: 240px">
					<div id="stock">
							<div id="leftStock">
								<span id="stockName">{{item.key}}</span>
								<span id="finanace">Financial Services</span>
							</div>
							<span id="stockValue">
								<div>{{'₹' + item.value}}</div>
								<button id="addButton"  ng-click="vm1.add(item.key, item.value, counter=1, item.eps, item.history); vm1.remove(vm1.newlist(), $index)"></button>								
							</span>
					</div>
				</div>
			</div>
		</div>


		<div class="pagination">
	        <button ng-disabled="vm1.currentPage == 0" ng-click="vm1.currentPage=vm1.currentPage - 8">PREV</button>
	        <button ng-disabled="vm1.currentPage > Object.keys(vm1.stocks.price).length +8" ng-click="vm1.currentPage=vm1.currentPage + 8" style="float: right">NEXT</button>
    	</div>    

		</div>
			
	</div>	

	<div class="view"  ng-controller="Controller2 as vm2">
		<span><h4 style = "background: #287DCE;">MANAGE PORTFOLIO</h4></span>
		<div class="special" style="border-top: 16px solid #15569C;" ></div>

	<div class="container">
		<div class="row">
		<div id="table"  class="col-5"><table>
			<tr>
				<th>STOCK</th>
				<th>PRICE</th>
				<th>SHARES</th>
				<th>WEIGHT</th>
			</tr>
			<tr ng-repeat="item in vm2.list()">
				<td>{{item.key}}</td>
				<td>{{'₹' + item.value}}</td>
				<td>
					<div id="incrementDiv">
						<incre-decre counter="item.counter"></incre-decre>
					</div>
				</td>
		
				<td>
					<span ng-if="vm2.netWorth>0">{{item.value * item.counter / vm2.netWorth | number:2}}%</span>
					<button ng-click="vm2.back(item.key, item.value, item.eps, item.history); vm2.remove(vm2.list(), $index);" id="remove"></button>
				</td>
			</tr>
		</table></div>
		<div class="col-4">
			<div id="graphHead">Portfolio Overview</div>
			<div id="graph" ng-if="vm2.list().length > 0"></div>
		</div>
		<div id="calcu"  class="col-3">
			<div id="stockLength">
				<span class="righthead">Stocks</span><br>
				<span class="rightvalue">{{vm2.list().length}}</span>
			</div>
			<span id="netWorth">
				<span class="righthead">NetWorth</span><br>
				<span class="rightvalue" ng-init="vm2.netWorth = 0">{{vm2.netWorth | number:2}}</span>
			</span>
			<div id="eps">
				<span class="righthead">P/E Ratio</span><br>
				<span class="rightvalue" ng-init="vm2.pe = 0">{{vm2.pe | number:2}}</span>
			</div>
			<div id="pb">
				<span class="righthead">P/B Ratio</span><br>
				<span class="rightvalue">12.4</span>
			</div>
			<button ng-click="vm2.detail()" id="build">BUILD PORTFOLIO</button>
		</div>
	</div>
	</div>

</div>
</body>
</html>
